@import "../componentes/footer";
@import "../componentes/header";
@import "../componentes/body";
@import "../componentes/main";
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
 
 
 