main{
    div{
        text-align: center;
        div{
            text-align: center;
            div{
                iframe{
                    display: flex;
                    justify-content: center;
                }
            }
        }
    }
}


